[project]
	description = A means to collect all the information from an OpenStack cloud which is necessary to debug a potential issue.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ephemeral (markuszoeller)
[access "refs/for/refs/*"]
	read = group user/ephemeral (markuszoeller)
	push = group user/ephemeral (markuszoeller)
	label-Code-Review = -2..+2 group user/ephemeral (markuszoeller)
	label-Verified = -1..+1 group user/ephemeral (markuszoeller)
	rebase = group user/ephemeral (markuszoeller)
	removeReviewer = group user/ephemeral (markuszoeller)
	submit = group user/ephemeral (markuszoeller)
[access "refs/heads/*"]
	read = group user/ephemeral (markuszoeller)
	create = group user/ephemeral (markuszoeller)
	push = +force group user/ephemeral (markuszoeller)
	pushMerge = group user/ephemeral (markuszoeller)
[access "refs/tags/*"]
	push = +force group user/ephemeral (markuszoeller)
	pushTag = group user/ephemeral (markuszoeller)
	pushSignedTag = group user/ephemeral (markuszoeller)
